/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, select, textarea
	{
		font-size: 10pt;
		line-height: 1.75em;
		letter-spacing: 0.025em;
		margin: 0 auto; 
	}

	body
	{
		min-width: 1200px;
	}

	
/*********************************************************************************/
/* Body                                                                        */
/*********************************************************************************/

	body
	{
		position: relative;
		height: 400px;
		background-image:url(Images/banner.jpg);;		
	}


/*********************************************************************************/
/* Header                                                                    */
/*********************************************************************************/

	#header
	
	{
		position: relative;
		height: 300px;
		margin: 0 auto; 
	}

		.homepage header
		{
			height: 573px;
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		height: 5em;
		margin: 0 auto; 
		text-align: center;
		top: 50%;
		left: 0;
		width: 100%;
		margin-top: -0.5em;

	}

		.homepage #logo
		{
			margin-top: -1em;
		}

		#logo h1
		{
			color: orange;
			font-size: 3.5em;
			letter-spacing: 0.25em;
			position: absolute;
			height: 5em;
			margin: 0 auto; 
			text-align: center;
			top: 50%;
			left: 0;
			width: 100%;
			margin-top: -0.5em;
		}
		
		#logo .byline
		{
			margin: 2em 0 0 0;
			display: block;
			letter-spacing: 0.2em;
			font-size: 2em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

		#nav
		{
		position: absolute;
		display: block;
		top: 2.5em;
		left: 0;
		width: 100%;
		text-align: center;
		}

		#nav > ul > li > ul
		{
			display: none;
		}

		#nav > ul
		{
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
			padding: 0 1.5em 0 1.5em;
		}

		#nav > ul > li
		{
			display: inline-block;
			text-align: center;
			padding: 0 1.5em 0 1.5em;
		}
		
		#nav > ul > li > a,
		#nav > ul > li > span,
		#nav > Buton
			{
				display: block;
				color: #eee;
				color: rgba(255,255,255,0.75);
				text-transform: uppercase;
				text-decoration: none;
				font-size: 1em;
				letter-spacing: 0.25em;
				height: 5em;
				line-height: 5em;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
				outline: 0;
				cursor:pointer; 
	
			}
			
			#nav > ul > li:hover > a,
			#nav > ul > li.active > a,
			#nav > ul > li.active > span
			{
				color: #fff;
			}
		

			
			
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

		#footer
		{
			position: absolute;
			display: block;
			top: 60em;
			left: 0;
			width: 100%;
			text-align: center;
		}

		#footer > ul > li > ul
		{
			display: none;
		}

		#footer> ul
		{
			display: inline-block;
			border-radius: 0.35m;
			box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
			padding: 0 1.5em 0 1.5em;
		}

		#footer> ul > li
		{
			display: inline-block;
			text-align: center;
			padding: 0 1.5em 0 1.5em;
		}
		
		#footer > ul > li > a,
		#footer > ul > li > span
			{
				display: block;
				color: #eee;
				color: rgba(255,255,255,0.75);
				text-transform: uppercase;
				text-decoration: none;
				font-size: 0.5em;
				letter-spacing: 0.25em;
				height: 5em;
				line-height: 5em;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
				outline: 0;
				cursor:pointer; 
			}
			
			#footer > ul > li:hover > a,
			#footer > ul > li.active > a,
			#footer > ul > li.active > span
			{
				color: #fff;
			}
			
/*********************************************************************************/
/* connexionMenu                                                                 */
/*********************************************************************************/		

.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.bouton:hover
{
    text-decoration:underline;
}

#connexionMenu {
	position: absolute;
	display: block;
	top: 20em;
	left: 38em;
	width: 10%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#connexionMenu  {
  line-height: 1;
}


#connexionMenu  , 
#connexionMenu  >.login-submit, 
#connexionMenu  >.login-submit:before, 
#connexionMenu  >.login-submit:after {
  visibility:hidden;
}

#connexionMenu  {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
}

#connexionMenu  > a {
  color: #00a1d2;
  text-decoration: none;
}
#connexionMenu  >a:hover {
  text-decoration: underline;
}

.login {
  position: relative;
  margin: 80px auto;
  width: 400px;
  padding-right: 32px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.login p {
  margin: 0 0 10px;
}

input, 
#connexionMenu  >button, 
label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text], input[type=password], input[type=email] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

label {
  float: left;
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
}

.forgot-password {
  padding-left: 100px;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
}

.login-submit {
  position: absolute;
  top: 12px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.login-submit:before, .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  height: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.login-submit:after {
  top: -4px;
  bottom: -4px;
  right: -4px;
  width: 36px;
}

.login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
}

.login-button:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #00a2d3;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
  background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
  -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}

.login-button:active:before {
  background: #0591ba;
  background-image: -webkit-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -moz-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -o-linear-gradient(top, #0591ba, #00a2d3);
  background-image: linear-gradient(to bottom, #0591ba, #00a2d3);
}

.login-button:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
  background: url("../img/arrow.png") 0 0 no-repeat;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*********************************************************************************/
/* FormulaireInscription                                                         */
/*********************************************************************************/	

.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.bouton:hover
{
    text-decoration:underline;
}

#inscriptionionMenu {
	position: absolute;
	display: block;
	top: 30em;
	left: 50em;
	width: 10%;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#inscriptionMenu  {
  line-height: 1;
}

#inscriptionMenu  , 
#inscriptionMenu  >.inscription-submit, 
#inscriptionMenu  >.inscription-submit:before, 
#inscriptionMenu  >.inscription-submit:after{
  visibility:hidden;
}

#inscriptionMenu  {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
}

#insciptionMenu  > a {
  color: #00a1d2;
  text-decoration: none;
}
#inscriptionMenu  >a:hover {
  text-decoration: underline;
}

.inscription {
  position: relative;
  margin: 80px auto;
  width: 400px;
  padding-right: 32px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.inscription p {
  margin: 0 0 10px;
}

input, 
#inscriptionMenu  >button, 
label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text], input[type=password], input[type=email],input[type=date] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,input[type=date]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

label {
  float: left;
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
}
.inscription-submit {
  position: absolute;
  top: 67px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.inscription-submit:before, .inscription-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.inscription-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  height: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.inscription-submit:after {
  top: -4px;
  bottom: -4px;
  right: -4px;
  width: 36px;
}
.inscription-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
}

.inscription-button:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #00a2d3;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
  background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
  -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}

.inscritpion-button:active:before {
  background: #0591ba;
  background-image: -webkit-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -moz-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -o-linear-gradient(top, #0591ba, #00a2d3);
  background-image: linear-gradient(to bottom, #0591ba, #00a2d3);
}

.inscription-button:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
  background: url("../img/arrow.png") 0 0 no-repeat;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*********************************************************************************/
/* Carrousel                                                                     */
/*********************************************************************************/	

#carrousel{
	visibility:hidden;
	position: absolute;
	top: 215px;
	bottom: 50px;
	left: 150px;
	right: 150px;
	text-align: center;
	display: block; 
	margin: 0 auto; 
}


#carrousel > ul > li {
	width: 800px;
	text-align: center;
	display: block;
	position: absolute;
	left: 210px
}

#controls {
	visibility:hidden;
	margin: 0 auto;
	position: absolute;
	top: 250px;
	bottom: 50px;
	left: 150px;
	right: 150px;
	text-align: center;
	display: block; 
	margin: 0 auto;
}

